header {font-family:verdana;text-decoration:underline;width:50%;margin:auto;text-align:center;}

section h2 {padding-left:5px;font-family:verdana;text-decoration:underline;}

section p {padding-left:5px;font-family:arial;}

section {
  border:1px solid black;
  border-radius: 5px; 
  margin:auto;
  display:block;
  width:70%;
}

section img, video {
  width:100%;
  outline:1px solid black;
}

.audio-menu {
  display:none;
}
